py==1.4.19
progress==1.2
funcy==0.9
unicodecsv==0.9.4
Fabric==1.8.1
pudb==2013.5.1
tox==1.6.1
pytest==2.5.1
pytest-cov==1.6
Sphinx==1.2.1
Sphinx-PyPI-upload==0.2.1
sphinxcontrib-bitbucket==1.0
sphinxcontrib-googleanalytics==0.1
sphinxcontrib-programoutput==0.8
